@using NoteFactory.Web.Controllers;
@using NoteFactory.Web.Hubs;
@using NoteFactory.Web;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>You are collaborating in session @Model.id</h2>
<form signalr-send="@nameof(ChatHub.Disconnect)">
    <input type="hidden" name="id" value="@Model.id" />
    <input type="hidden" name="participantId" value="@Model.participantId" />
    <button type="submit" id="disconnect">Disconnect</button>
</form>
<style>
    #messages .author-@Model.participantId {
        font-weight: bold;
        color: var(--color-highlight-text);
    }
</style>
<div id="messages" signalr-subscribe="NewMessage" hx-swap="beforeend" _="on htmx:load detail.elt.scrollIntoView(false)">
    @foreach(var m in Model.messages)
    {
        @await Html.PartialAsync("_Message", new { Message = m })
    }
</div>
<div id="messageActions">
    @await Html.PartialAsync("_SendMessageForm")

    <form signalr-send="@nameof(ChatHub.SendMessage)" _="on htmx:signalr:beforeSend set detail.allParameters.message to SaveStateSnapshot()">
        <input type="hidden" name="id" value="@Model.id" />
        <input type="hidden" name="participantId" value="@Model.participantId" />
        <input type="hidden" name="messageType" value="@MessageType.ShareState" />
        <input type="hidden" name="message" value="" />
        <button type="submit">Share Pattern</button>
    </form>
    <label for="shareUpdates">Share note updates live</label><input type="checkbox" id="shareUpdates" name="shareUpdates" />
    <div style="display: none" signalr-subscribe="NoteChanged" hx-swap="innerHTML"></div>
</div>