@using NoteFactory.Web.Controllers;
@using NoteFactory.Web.Hubs;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Hello from the server</h1>
You are collaborating in session @Model.id
<form signalr-send="@nameof(ChatHub.Disconnect)">
    <input type="hidden" name="id" value="@Model.id" />
    <input type="hidden" name="participantId" value="@Model.participantId" />
    <button type="submit" id="disconnect">Disconnect</button>
</form>
<style>
    #messages .author-@Model.participantId {
        font-weight: bold;
        color: green;
    }
</style>
<div id="messages" signalr-subscribe="NewMessage" hx-swap="beforeend">
    @foreach(var m in Model.messages)
    {
        @Html.Partial("_Message", new { Message = m })
    }
</div>
<div id="messageActions">
    @Html.Partial("_SendMessageForm")
</div>